<div class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
           <label>Name</label>
           <div class="two fields">
             <div class="field">
               <input type="text" name="first_name" placeholder="First Name" ng-model="user.profile.firstName">
             </div>
             <div class="field">
               <input type="text" name="last_name" placeholder="Last Name" ng-model="user.profile.lastName">
             </div>
           </div>
         </div>
        
        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> What college or university do you attend? </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>
        
        <div class="field" ng-show="!autoFilledSchool">
          <label> What college or university do you attend? </label>
          <input class="ui input"
                 name="school"
                 ng-model="user.profile.school">
        </div>
        
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>What’s your major?</label>
              <input class="ui input"
                name="major"
                ng-model="user.profile.major">
            </div>
            
            <div class="field">
              <label>Expected Graduation Year</label>
              <select
                name="year"
                ng-model="user.profile.graduationYear">
                <option value="">Graduation Year</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
              </select>
            </div>
          
          </div>
        </div>

        <div class="grouped fields">
          <label for="firstgen">Are you a first generation college student? (Optional)</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input class="ui input" type="radio" ng-model="user.profile.firstGen" name="no" value="no" id="firstGenNo">
              <label for="firstGenNo">No</label>

            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input class="ui input" type="radio" ng-model="user.profile.firstGen" name="yes" value="yes" id="firstGenYes">
              <label for="firstGenYes">Yes</label>
            </div>
          </div>
        </div>
      
        <div class="field">
          <label>What is your gender identity?</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="N">I prefer not to say.</option>
            <option value="O">Other</option>
          </select>
          <br/>
          <label ng-show="user.profile.gender == 'O'">Please specify other</label>
          <input ng-model="user.profile.genderOther" ng-show="user.profile.gender == 'O'" name="gender-other" />
        </div>
        
        <div class="field">
          <label>How many hackathons have you attended?</label>
          <input type="text" ng-model="user.profile.numHackathons" name="numberHackathons" />
        </div>
        
        <div class="ui field">
          <label>What would you like to learn about at Hacklahoma?</label>
          <select class="ui fluid search dropdown" multiple="" ng-model="user.profile.learn">
              <option value="web-dev">Web Development</option>
              <option value="alexa">Alexa</option>
              <option value="vr">Virtual Reality</option>
          </select>
        </div>
      
      
        
        <div class="ui field">
          <label>List any dietary restrictions or food allergies.</label>
          <select name="food" ng-model="dietaryNeeds">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <br />
          <input class="ui input" ng-show="dietaryNeeds == 'true'" ng-model="user.profile.dietaryNeeds" />
        </div>
        
        <div class="ui field">
          <label>Do you require accommodations for any medical needs?</label>
          <select name="medical" ng-model="medicalNeeds">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <br />
          <input class="ui input" ng-show="medicalNeeds == 'true'" ng-model="user.profile.medicalNeeds" />
        </div>
        
        <div class="ui fields">
          <header>
            Emergency Contacts
          </header>
          <div class="field">
            <label></label>
            <input class="ui input" name="name" />
          </div>
        </div>
        
        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Because of limitations imposed by MIT, we are not legally allowed to host
            non-MIT minors (those under 18) for HackMIT 2015. Checking the box below affirms that you are or will be 18 years or older by September 19th, 2015.
          </p>
          <p>
            <strong>
            We will be checking ID. If you are a non-MIT minor, you will be turned away at the door.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui green button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
