#admin {
  .label {
    margin-bottom: 6px;
  }

  .page.button {
    margin-bottom: 6px;
  }

  #table-container {
    overflow-x: auto;
  }

  table.users {

    tr {
      cursor: pointer;

      &.admin {
        background: lighten(#F25F5C, 20%) !important;
        &:hover {
          background: lighten(#F25F5C, 15%) !important;
        }
      }
      &.positive {
        background: lighten(green, 60%) !important;
        &:hover {
          background: lighten(green, 55%) !important;
        }
      }
      &.warning {
        background: lighten(yellow, 40%) !important;
        &:hover {
          background: lighten(yellow, 35%) !important;
        }
      }
    }

  }
}
