<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">

          <p>(<span style="color:#cc0000"> * </span>) Required fields</p>
          <form>
<!-- NOTE: Phone Number -->
          <div class="field">
            <label> What's your phone number? <span style="color:#cc0000"> * </span> </label>
            <p>
              We need this in case we need to get ahold of you!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="(123) 555 - 1234"
                   required>
          </div>

<!-- NOTE: Dietary Restrictions -->
          <div class="field">
            <label> Dietary Restrictions </label>
            <p>If your restrictions aren't listed, please list them in the additional notes so that we can accommodate.</p>
          </div>
          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label style="padding: 0 0 0 25px; white-space: nowrap;">{{key}}</label>
              </div>
            </div>
          </div>

          <div class="field"
               ng-show="dietaryRestrictions['Other']">
            <label>Please specify other dietary restrictions:</label>
            <input type="text" ng-model="user.confirmation.otherDietaryRestriction" />
          </div>

<!-- NOTE: Shirt Size -->
          <div class="field">
            <label> Shirt Size <span style="color:#cc0000"> * </span> </label>
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value=""> - </option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
            </select>
          </div>

<!-- NOTE: Hardware -->
          <div class="field">
            <label>
              Will you be needing hardware?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yes, I would like to use hardware in my hack. </label>
            </div>
          </div>

          <div
            class="field"
            ng-show="user.confirmation.wantsHardware">
            <label>
              What kind of hardware would be useful for you?
            </label>
            <p>
              We will have a hardware checkout, and we'll try our best to provide things that would be useful to you - however, we can't guarantee everything.
            </p>
            <input type="text" ng-model="user.confirmation.hardware">
          </div>


          <br>
          <br>

          <div class="divided title"> Skills & Accomplishments </div>

<!-- NOTE: GitHub -->
          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
          </div>

<!-- NOTE: Website -->
          <div class="field">
            <label> Website </label>
            <input type="text"
                   name="website"
                   placeholder="https://myportfolio.me"
                   ng-model="user.confirmation.website">
          </div>

<!-- NOTE: Resume -->
          <div class="field">
            <label> Resume </label>
            <p>
              Upload a Resume or a document outlining any skills or experience you'd like to share. <br><em>PDF is prefered</em> and the file size must be <em>under 1MB</em>.
            </p>
            <a
              target="_blank"
              href="https://www.dropbox.com/request/5VEzFv458NHtrWzOjuSe"
              class="ui green button">
              Upload
            </a>
          </div>

          <br>
          <br>

          <div class="divided title">Travel</div>

<!-- NOTE: Travel Reimbursement -->
          <div class="field">
            <p>
              For those driving to Hacklahoma from outside of the Norman/OKC metro area, we will reimburse each vehicle up to $50 for travel costs.
            </p>
            <p>
              Please note that only people who have submitted a project and have their physical recipts will be eligble for reimbursement. We will be asking for your Social Security Number as per university policy.
            </p>
          </div>

          <div class="field">
            <label> Will you be needing travel reimbursement? </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.needsReimbursement">
              <label> I will be needing travel reimbursement. </label>
            </div>
          </div>

          <br>
          <br>

          <div class="divided title">Legal</div>

<!-- NOTE: Code of Conduct -->
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox"
                     name="codeOfConduct"
                     ng-model="user.confirmation.codeOfConduct">
              <label>I affirm that I have read and agree to the <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>. I further agree to the terms of both the <a target="_blank" href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">MLH Contest Terms and Conditions</a> and the <a target="_blank" href="https://mlh.io/privacy">MLH Privacy Policy</a>. <span style="color:#cc0000"> * </span></label>
            </div>
          </div>

<!-- NOTE: Logistics -->
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox"
                     name="logistics"
                     ng-model="user.confirmation.logistics">
              <label> I authorize you to share my application/registration information with Major League Hacking for event administration, ranking, MLH administration, and with my authorization email in-line with the <a target="_blank" href="https://mlh.io/privacy">MLH Privacy Policy</a>. <span style="color:#cc0000"> * </span></label>
            </div>
          </div>

<!-- NOTE: Photo Release -->
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox"
                     name="photoRelease"
                     ng-model="user.confirmation.photoRelease"
                     required>
              <label> I acknowledge that I will be required to sign a photo release form at check-in. <span style="color:#cc0000"> * </span> </label>
            </div>
          </div>

          <br>
          <br>

          <div class="divided title">everything else</div>

<!-- NOTE: Additional Notes -->
          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"
              placeholder="Accommodations, other dietary restrictions, etc."></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui green button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
